<h2>Your results</h2>
<p class="search-term">You searched: <%= @raw %></p>
<% if !@delimiters.empty? %>
<p class="limiters">Your results were limited to:</p>	
	<ul>
	<% @delimiters.split(',').each do |line|  %>
		<li><%= line %></li>
	<% end %>
	</ul>
<% end %>

<% if @result.any? %>

<h3>Your search delivered <%= @result.count %> results</h3>

	<% @result.each do |result| %> 
		<div class="result-item row">
			<p class="result-heading"><%= result["title"] %>, Congressional Section: <%= result["congress"] %>, <%= result["date"] %></p>
			<p class="result-source-data"><%= result["volume"] %> Vol., #<%= result["number"]%>, <%= result["chamber"] %></p>
			<p class="result-text"><%= result["speaking"][0] %></p>
			<p class="result-link">Source: <%= result["origin_url"] %></p>
		</div>
		<hr>
	<% end %>
<% else %>
	<div id="result-none">
		<p>Oh, no! There were no results for <%= @phrase %>. Search <a href="/textsearch">again?</a></p>
	</div>
<% end %>


  