<hr class="top-divider">

<div class="container">
	<div class="row">
		<a href="/textsearch" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Search again?</a>
	</div>

	<%= erb '_delimiters'.to_sym %>

	<% if @result.any? %>

		<% @result.each_with_index do |result, index| %> 
			<ul class="result-item row">
				<li class="result-heading"><%=index + 1%> <%= result["title"] %> , Congressional Section: <%= result["congress"] %>, <%= result["date"] %></li>
				<li class="result-link"><a href="<%= result["origin_url"] %>"><%= result["origin_url"] %></a></li>
				<li class="result-source-data"><%= result["volume"] %> Vol., #<%= result["number"]%>, <%= result["chamber"] %></li>
				<li class="result-text"><%= result["speaking"][0] %></li>
			</ul>
			<hr>
		<% end %>
	<% else %>
		<%= erb '_no_match'.to_sym %>
	<% end %>
</div>
  