%hr.top-divider/
.container
  .row
    .col-md-6.text-left
      %a.btn.btn-default{:href => "/textsearch"}
        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
        Search again?
    .col-md-6.text-right
      .input-group 
        %input.input-search{:placeholder => "Search within..."}
          %span.input-group-btn
            %button.btn.btn-search{:type => "button"} Go!
  = haml '_delimiters'.to_sym
  - if @result.any?
    - @result.each_with_index do |result, index|
      %ul.result-item.row
        %li.result-heading
          = index + 1
          = result["title"]
          , Congressional Section: #{result["congress"]}, #{result["date"]}
        %li.result-link
          %a{:href => result["origin_url"]}= result["origin_url"]
        %li.result-source-data
          = result["volume"]
          Vol., ##{result["number"]}, #{result["chamber"]}
        %li.result-text= result["speaking"][0]
      %hr/
  - else
    = haml '_no_match'.to_sym

