<!DOCTYPE html>
<html>
<head>
	<title>Polifact</title>	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/main.css")%>">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script type="text/javascript" src="<%= url("/js/tooltip.min.js")%>"></script>
	<script type="text/javascript" src="<%= url("/js/app.js")%>"></script>

	<!-- jqueryui -->
	<script type="text/javascript" src="<%= url("/js/jquery-ui.js")%>"></script>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/jquery-ui.css")%>">

	<!-- Graphics -->
	<script type="text/javascript" src="<%= url("/js/chart.min.js")%>"></script>

</head>
	<body>
		<div id="container">

			<div id="top-panel" class="row">
				<h1 class="text-center">Congressional Research Engine</h1>
			</div>

			<div id="content-container" class="container">
				<%= yield %>
			</div>	

			<div class="row text-center">
				<button class="btn btn-default" id="link-home"><a href="/">Home</a></button>
			</div>
		</div>
	</body>
</html>