<!DOCTYPE html>
<html>
<head>
	<title>Political Research Engine | Powering Better Citizens, Strong Democracy </title>	
	
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/main.css")%>">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script type="text/javascript" src="<%= url("/js/tooltip.min.js")%>"></script>
	<script type="text/javascript" src="<%= url("/js/app.js")%>"></script>

	<!-- jqueryui -->
	<script type="text/javascript" src="<%= url("/js/jquery-ui.js")%>"></script>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/jquery-ui.css")%>">

	<!-- Graphics -->
	<script type="text/javascript" src="<%= url("/js/chart.min.js")%>"></script>

	<!-- Icons -->
	<link rel="icon" type="image/png" href="icons/favicomatic/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="icons/favicomatic/favicon-16x16.png" sizes="16x16" />

</head>
	<body>
		<!-- Site container -->
		<div id="container">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="/"><img id="navbar-brand" class="img img-responsive svg" src="icons/congress.svg" /></a>
						</div>
					</div>
					<div class="row text-center navbar-navigation">
						<div class="col-md-2 navbar-item">
							<a href="/textsearch">C. Records</a>
						</div>
						<div class="col-md-2 navbar-item">
							<a href="/bills">Legislation</a>
						</div>
						<div class="col-md-2 navbar-item">
							<a href="/finance">Finance</a>
						</div>
						<div class="col-md-2 navbar-item">
							<a href="/polls">Polling</a>
						</div>
						<div class="col-md-2 navbar-item">
							<a href="/legislators">Representatives</a>
						</div>
						<div class="col-md-2 navbar-item">
							<a href="/about">About</a>
						</div>
					</div>	
				</div>
			</nav>

			<div id="content-wrapper">			
				<%= yield %>
			</div>
			<hr>
			<footer class="footer">
				<p class="muted text-center">Web Design by <a href="http://www.kelloggwebstudio.com">Kellogg Web Studio</a></p>
				<a href="/"><p class="text-center"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></p></a>
			</footer>
		</div>
	</body>
</html>

