<!DOCTYPE html>
<html>
<head>
	<title>Political Research Engine </title>	
	
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/main.css")%>">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script type="text/javascript" src="<%= url("/js/tooltip.min.js")%>"></script>
	<script type="text/javascript" src="<%= url("/js/app.js")%>"></script>

	<!-- jqueryui -->
	<script type="text/javascript" src="<%= url("/js/jquery-ui.js")%>"></script>
	<link rel="stylesheet" type="text/css" href="<%= url("/css/jquery-ui.css")%>">

	<!-- Graphics -->
	<script type="text/javascript" src="<%= url("/js/chart.min.js")%>"></script>

	<!-- Icons -->
	<link rel="icon" type="image/png" href="icons/favicomatic/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="icons/favicomatic/favicon-16x16.png" sizes="16x16" />

</head>
	<body>
		<!-- Site container -->
		<div id="container">
			<div id="top-panel" class="row">
				<h1 class="text-center">Political Research Engine</h1>
			</div>

			<!-- Content wrapper -->
			<div id="content-container" class="container">
				<%= yield %>
			</div>	

			<footer class="footer">
				<div class="container">
					<p class="muted text-center">Web Design by <a href="http://www.kelloggwebstudio.com">Kellogg Web Studio</a></p>
				</div>
			</footer>
		</div>
	</body>
</html>

