%hr.top-divider/
.container
  = haml '_header'.to_sym
  - if @result.any?
    - @result.each_with_index do |result, index|
      .col-md-12
        %table.table.table-striped.table-hover.table-condensed
          %tr
            %th.table-heading{:colspan => "15"}
              = index + 1
              = result["title"]
              \ #{result["first_name"]} #{result["last_name"]} (#{result["party"]})
          %tr
            %th.table-sub-heading{:colspan => "15"} Basic  Information
          %tr
            %td.table-title{:colspan => "1"} Born:
            %td.table-content{:colspan => "14"}= result["birthday"]
          %tr 
            %td.table-title{:colspan => "1"} Representing:
            %td.table-content{:colspan => "14"}
              = result["state_name"]
              = result["district"]
          %tr
            %td.table-title{:colspan => "1"} Chamber:
            %td.table-content{:colspan => "14"}= result["chamber"].capitalize
          %tr
            %td.table-title{:colspan => "1"} Term Start:
            %td.table-content{:colspan => "14"}= result["term_start"]
          %tr
            %td.table-title{:colspan => "1"} Term End:
            %td.table-content{:colspan => "14"}= result["term_end"]
          %tr
            %th.table-sub-heading{:colspan => "15"} Contact Information
          %tr
            %td.table-title{:colspan => "1"} Website:
            %td.table-content{:colspan => "14"}
              %a{:href => result["website"]}= convert_nil(result["website"])
          %tr
            %td.table-title{:colspan => "1"} Email:
            %td.table-content{:colspan => "14"}
              %a{:href => "mailto:#{result["oc_email"]}"}= convert_nil(result["oc_email"])
          %tr
            %td.table-title{:colspan => "1"} D.C. Address:
            %td.table-content{:colspan => "14"}= convert_nil(result["office"])
          %tr
            %td.table-title{:colspan => "1"} Phone:
            %td.table-content{:colspan => "14"}= convert_nil(result["phone"])
          %tr
            %th.table-sub-heading{:colspan => "15"} Social Media
          %tr
            %td.table-title{:colspan => "1"} Twitter Handle:
            %td.table-content{:colspan => "14"}= convert_nil(result["twitter_id"])
          %tr
            %td.table-title{:colspan => "1"} Youtube:
            %td.table-content{:colspan => "14"}= convert_nil(result["youtube_id"])
  - else
    = haml '_no_match'.to_sym