<hr class="page-divider">

<div class="container">
	<div class="row">
		<a href="/finance/candidates" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Search again?</a>
	</div>

	<% if !@delimiters.empty? %>
	<p class="limiters">Your results were limited to:</p>	
		<ul>
		<% @delimiters.split(',').each do |line|  %>
			<li><%= line %></li>
		<% end %>
		</ul>
	<% end %>

	<h3>Result Count: <%= @result.count %></h3>

	<% if @result.any? %>
		<% @result.each_with_index do |result, index| %> 
		<div class="col-md-12">
			<p class="result-number"><%=index + 1%></p>
			<table class="table table-striped table-hover table-condensed">
			  <tr><th class="table-heading" colspan="15"><%= result["name"] %>, (<%= result["party"] %>)</th></tr>
			  <tr>
			  	<td class="table-title">Candidate Profile:</td>
			  	<td class="table-content"><a href="<%= ENV['FINANCE_BASE_URL'] %><%= result["candidate_url"] %>">Candidate Profile</a></td>
			  </tr>
			  <tr>
			  	<td class="table-title">Race Profile:</td>
			  	<td class="table-content"><a href="<%= ENV['FINANCE_BASE_URL'] %><%= result["race_url"] %>">Race Profile</a></td>
			  </tr>
			  <tr>
			  	<td class="table-title">Party Profile:</td>
			  	<td class="table-content"><a href="<%= ENV['FINANCE_BASE_URL'] %><%= result["ie_url"] %>">Party Profile</a></td>
			  </tr>			  			  
			  <tr>
			    <td class="table-title" colspan="1">FEC ID:</td>
			    <td class="table-content" colspan="14"><%= result["fec_id"] %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Incumbent:</td>
			    <td class="table-content" colspan="14"><%= convert_boolean(result["is_incumbent"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Not Seeking Election:</td>
			    <td class="table-content" colspan="14"><%= convert_boolean(result["not_seeking_reelection"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Elected:</td>
			    <td class="table-content" colspan="14"><%= result["election_year"] %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">State:</td>
			    <td class="table-content" colspan="14"><%= convert_abbreviation(result["state"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Office:</td>
			    <td class="table-content" colspan="14"><%= get_chamber(result["office"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Outstanding Loans:</td>
			    <td class="table-content text-loan" colspan="14">$<%= comma_numbers(result["outstanding_loans"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Cash on Hand:</td>
			    <td class="table-content text-cash" colspan="14">$<%= comma_numbers(result["cash_on_hand"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Cash Accurate as of:</td>
			    <td class="table-content" colspan="14"><%= convert_nil(result["cash_on_hand_date"]) %></td>
			  </tr>
			</table>	
		</div>
		<div class="chart-container row">
			<div class="col-md-6 chart-container" id="expensesChartContainer<%=index%>"></div>
			<div class="col-md-6 chart-container" id="totalChartContainer<%=index%>"></div>
		</div>
		<% end %>
	<% else %>
		<div class="row" id="result-none">
			<p>Oh, no! There were no results. Search <a href="/finance/candidates">again?</a></p>
		</div>
	<% end %> 
</div>

<script type="text/javascript">
	$(document).ready(function() {

	// Store json data from ruby into variable 
	var apiData = <%= @result.to_json %>;

	// Loop over each result 
	for(var i = 0; i < apiData.length; i++ ) {

		// Build Canvas for 1st Chart
		var expensesChart = $('<canvas />').attr({
			id: "expensesChart" + i,
			width: 450,
			height: 350
		});

		// Build Canvas for 2nd Chart 
		var totalChart = $('<canvas />').attr({
			id: "totalChart" + i,
			width: 450,
			height: 350
		});

		// Append DOM elements 
		$('#expensesChartContainer' + i).append(expensesChart);
		$('#totalChartContainer' + i).append(totalChart);

		// Catch zero to prevent empty expenses chart rendering 
		if ((apiData[i]["expenditures_supporting"] == 0) && (apiData[i]["expenditures_opposing"] == 0)) {

			// Build no data warning element for expenses chart
			$('#expensesChartContainer' + i).append('<p class="no-data">No Data to Display</p>')
											.addClass('no-data-container');

		} else {

			// Pass options in for charts to customize

			// Build Valid Charts 
			var expensesData = {
				labels: ["$ to Support", "$ to Oppose"],
				datasets: [
					{
						label: "Expenses Chart",
			            fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
			            data: [apiData[i]["expenditures_supporting"], apiData[i]["expenditures_opposing"]]
					}
				]
			}


			// Build Expenses Chart 
			var ctx = $(expensesChart)[0].getContext("2d");
			var myBarChart = new Chart(ctx).Bar(expensesData);
		}

		// Catch zero to prevent empty total chart rendering 
		if ((apiData[i]["total_receipts"] == 0) && (apiData[i]["total_contributions"] == 0) && apiData[i]["total_disbursements"] == 0) {
			
			// Build no data warning element for total chart
			$('#totalChartContainer' + i).append('<p class="no-data">No Data to Display</p>')	
										 .addClass('no-data-container');

		} else {

			// Construct Totals Chart Data
			var totalData = { 
				labels: ["Receipts", "Contributions", "Disbursements"],
				datasets: [
					{
						lable: "Totals Chart",
					    fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
			            data: [apiData[i]["total_receipts"], apiData[i]["total_contributions"], apiData[i]["total_disbursements"] ]
					}
				]
			}

			// Build Total Chart
			var ctx = $(totalChart)[0].getContext("2d");
			var myBarChart = new Chart(ctx).Bar(totalData);
		}

	}; //end for loop for creating charts 

});


</script>


