<h2>Your results</h2>
<% if !@delimiters.empty? %>
<p class="limiters">You searched:</p>	
	<ul>
	<% @delimiters.split(',').each do |line|  %>
		<li><%= line %></li>
	<% end %>
	</ul>
<% end %>


<h3>Your search delivered <%= @result.count %> results</h3>

<% if @result.any? %>
	<% @result.each do |result| %> 
	<div class="col-md-12">
		<table class="table table-striped table-hover table-condensed">
		  <tr>
		    <th class="table-heading" colspan="15"><%= result["name"] %>, (<%= result["party"] %>)</th>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">FEC ID:</td>
		    <td class="table-content" colspan="14"><%= result["fec_id"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Incumbent:</td>
		    <td class="table-content" colspan="14"><%= result["is_incumbent"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Not Seeking Election:</td>
		    <td class="table-content" colspan="14"><%= result["not_seeking_reelection"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Elected:</td>
		    <td class="table-content" colspan="14"><%= result["election_year"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">State:</td>
		    <td class="table-content" colspan="14"><%= result["state"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Office:</td>
		    <td class="table-content" colspan="14"><%= result["office"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Outstanding Loans:</td>
		    <td class="table-content" colspan="14">$<%= result["outstanding_loans"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Cash on Hand:</td>
		    <td class="table-content" colspan="14">$<%= result["cash_on_hand"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Cash Accurate as of:</td>
		    <td class="table-content" colspan="14"><%= result["cash_on_hand_date"] %></td>
		  </tr>
		</table>	
	</div>
	<div class="chart-container row">
		<div class="col-md-6">
			<canvas id="expensesChart" width="400" height="350"></canvas>
		</div>
		<div class="col-md-6">
			<canvas id="totalChart" width="400" height="350"></canvas>
		</div>
	</div>
	<% end %>
<% else %>
	<div class="row" id="result-none">
		<p>Oh, no! There were no results. Search <a href="/finances/candidates">again?</a></p>
	</div>
<% end %> 



<script type="text/javascript">
	$(document).ready(function() {

		// Expenditures Chart 
		var expensesData = {
	    labels: ["$ to Support", "$ to Oppose"],
	    datasets: [
	        {
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [1980923, 1879832]
	        }
	    ]
	};

	// Get the context of the canvas element we want to select
	var ctx = document.getElementById("expensesChart").getContext("2d");
	var myBarChart = new Chart(ctx).Bar(expensesData);


	// Contributions vs Expenditures 
	var totalData = { 
		labels: ["Receipts", "Contributions", "Disbursements"],
		datasets: [
			{
			    fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [1980923, 1879832, 234]
			}
		]
	}

	var ctx = document.getElementById("totalChart").getContext("2d");
	var myBarChart = new Chart(ctx).Bar(totalData);


});


</script>


