<h2>Your results</h2>
<% if !@delimiters.empty? %>
<p class="limiters">You searched:</p>	
	<ul>
	<% @delimiters.split(',').each do |line|  %>
		<li><%= line %></li>
	<% end %>
	</ul>
<% end %>


<h3>Your search delivered <%= @result.count %> results</h3>

<% if @result.any? %>
	<% @result.each_with_index do |result, index| %> 
	<div class="col-md-12">
		<p class="result-number"><%=index + 1%></p>
		<table class="table table-striped table-hover table-condensed">
		  <tr>
		    <th class="table-heading" colspan="15"><%= result["name"] %>, (<%= result["party"] %>)</th>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">FEC ID:</td>
		    <td class="table-content" colspan="14"><%= result["fec_id"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Incumbent:</td>
		    <td class="table-content" colspan="14"><%= result["is_incumbent"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Not Seeking Election:</td>
		    <td class="table-content" colspan="14"><%= result["not_seeking_reelection"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Elected:</td>
		    <td class="table-content" colspan="14"><%= result["election_year"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">State:</td>
		    <td class="table-content" colspan="14"><%= result["state"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Office:</td>
		    <td class="table-content" colspan="14"><%= result["office"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Outstanding Loans:</td>
		    <td class="table-content" colspan="14">$<%= result["outstanding_loans"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Cash on Hand:</td>
		    <td class="table-content" colspan="14">$<%= result["cash_on_hand"] %></td>
		  </tr>
		  <tr>
		    <td class="table-title" colspan="1">Cash Accurate as of:</td>
		    <td class="table-content" colspan="14"><%= result["cash_on_hand_date"] %></td>
		  </tr>
		</table>	
	</div>
	<div class="chart-container row">
		<div class="col-md-6 chart-container" id="expensesChartContainer<%=index%>">
			<!-- <canvas id="expensesChart" width="400" height="350"></canvas> -->
			<!-- Dynamic loading -->


		</div>
		<div class="col-md-6 chart-container" id="totalChartContainer<%=index%>">
			<!-- <canvas id="totalChart" width="400" height="350"></canvas> -->
			<!-- Dynamic loading -->

		</div>
	</div>
	<% end %>
<% else %>
	<div class="row" id="result-none">
		<p>Oh, no! There were no results. Search <a href="/finances/candidates">again?</a></p>
	</div>
<% end %> 



<script type="text/javascript">
	$(document).ready(function() {

	// Store json data from ruby into variable 
	var apiData = <%= @result.to_json %>;

	// Loop over each result 
	for(var i = 0; i < apiData.length; i++ ) {

		// Build Canvas for 1st Chart
		var expensesChart = $('<canvas />').attr({
			id: "expensesChart" + i,
			width: 450,
			height: 350
		});

		// Build Canvas for 2nd Chart 
		var totalChart = $('<canvas />').attr({
			id: "totalChart" + i,
			width: 450,
			height: 350
		});

		// Append DOM elements 
		$('#expensesChartContainer' + i).append(expensesChart);
		$('#totalChartContainer' + i).append(totalChart);

		// Catch zero to prevent empty expenses chart rendering 
		if ((apiData[i]["expenditures_supporting"] == 0) && (apiData[i]["expenditures_opposing"] == 0)) {

			// Build no data warning element for expenses chart
			$('#expensesChartContainer' + i).append('<p class="no-data">No Data to Display</p>')
											.addClass('no-data-container');

		} else {

			// Pass options in for charts to customize

			// Build Valid Charts 
			var expensesData = {
				labels: ["$ to Support", "$ to Oppose"],
				datasets: [
					{
						label: "Expenses Chart",
			            fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
			            data: [apiData[i]["expenditures_supporting"], apiData[i]["expenditures_opposing"]]
					}
				]
			}


			// Build Expenses Chart 
			var ctx = $(expensesChart)[0].getContext("2d");
			var myBarChart = new Chart(ctx).Bar(expensesData);
		}

		// Catch zero to prevent empty total chart rendering 
		if ((apiData[i]["total_receipts"] == 0) && (apiData[i]["total_contributions"] == 0) && apiData[i]["total_disbursements"] == 0) {
			
			// Build no data warning element for total chart
			$('#totalChartContainer' + i).append('<p class="no-data">No Data to Display</p>')	
										 .addClass('no-data-container');

		} else {

			// Construct Totals Chart Data
			var totalData = { 
				labels: ["Receipts", "Contributions", "Disbursements"],
				datasets: [
					{
						lable: "Totals Chart",
					    fillColor: "rgba(220,220,220,0.5)",
			            strokeColor: "rgba(220,220,220,0.8)",
			            highlightFill: "rgba(220,220,220,0.75)",
			            highlightStroke: "rgba(220,220,220,1)",
			            data: [apiData[i]["total_receipts"], apiData[i]["total_contributions"], apiData[i]["total_disbursements"] ]
					}
				]
			}

			// Build Total Chart
			var ctx = $(totalChart)[0].getContext("2d");
			var myBarChart = new Chart(ctx).Bar(totalData);
		}

	}; //end for loop for creating charts 

});


</script>


