<hr class="top-divider">

<div class="container">

	<div class="row">
		<a href="/finance/districts" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Search again?</a>
	</div>

	<% if !@delimiters.empty? %>
	<p class="limiters">You searched:</p>	
		<ul>
		<% @delimiters.split(',').each do |line|  %>
			<li><%= line %></li>
		<% end %>
		</ul>
	<% end %>

	<h3>Result Count: <%= @result.count %></h3>

	<% if @result.any? %>
		<% @result.each_with_index do |result, index| %> 
		<div class="col-md-12">
			<p class="result-number"><%=index + 1%></p>
			<table class="table table-striped table-hover table-condensed">
			  <tr><th class="table-heading" colspan="15"><%= result["cycle"] %> &#8212; <%= convert_abbreviation(result["state"]) %></th></tr>
			  <tr><th class="table-sub-heading" colspan="15">Basic Race Information</th></tr>
			  <tr>
			  	<td class="table-title" colspan="1">Race Type:</td>
			  	<td class="table-content" colspan="14"><%= result["rothenberg_rating_text"] %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Office:</td>
			    <td class="table-content" colspan="14"><%= get_chamber(result["office"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Incumbent:</td>
			    <td class="table-content" colspan="14"><%= result["incumbent_name"] %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Incumbent Party:</td>
			    <td class="table-content" colspan="14"><%= get_party(result["incumbent_party"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Next Election:</td>
			    <td class="table-content" colspan="14"><%= convert_to_na(result["next_election_date"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Next Election Type:</td>
			    <td class="table-content" colspan="14"><%= convert_to_na(result["next_election"].capitalize) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Open Seat:</td>
			    <td class="table-content" colspan="14"><%= convert_boolean(result["open_seat"]) %></td>
			  </tr>
			  <tr>
			  	<td class="table-title">Profile:</td>
			  	<td class="table-content"><a href="<%= ENV['FINANCE_BASE_URL'] %><%= result["district_url"] %>">Visit Profile</a></td>
			  </tr>

			  <tr><th class="table-sub-heading" colspan="15">Financial Summary</th></tr>
			  <tr>
			    <td class="table-title" colspan="1">Candidate Money Raised:</td>
			    <td class="table-content text-cash" colspan="14">$<%= comma_numbers(result["candidate_raised"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Candidate Money Spent:</td>
			    <td class="table-content text-loan" colspan="14">$<%= comma_numbers(result["candidate_spending"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Outside Money Spent:</td>
			    <td class="table-content text-loan" colspan="14">$<%= comma_numbers(result["outside_spending"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Total Money Spent:</td>
			    <td class="table-content text-loan" colspan="14">$<%= comma_numbers(result["total_spending"]) %></td>
			  </tr>
			</table>	
		</div>
		<% end %>
	<% else %>
		<div class="row" id="result-none">
			<p>Oh, no! There were no results. Search <a href="/finance/candidates">again?</a></p>
		</div>
	<% end %> 
</div>