<hr class="top-divider">

<div class="container">

	<div class="row">
		<a href="/finance/outside_spenders" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Search again?</a>
	</div>

	<% if !@delimiters.empty? %>
	<p class="limiters">You searched:</p>	
		<ul>
		<% @delimiters.split(',').each do |line|  %>
			<li><%= line %></li>
		<% end %>
		</ul>
	<% end %>

	<h3>Result Count: <%= @result.count %></h3>

	<% if @result.any? %>
		<% @result.each_with_index do |result, index| %> 
		<div class="col-md-12">
			<p class="result-number"><%=index + 1%></p>
			<table class="table table-striped table-hover table-condensed">
			  <tr><th class="table-heading" colspan="15"><%= result["name"] %> &#8212; <%= result["display_type"] %></th></tr>
			  <tr><th class="table-sub-heading" colspan="15">Basic Information</th></tr>
			  <tr>
			  	<td class="table-title" colspan="1">Committee Type:</td>
			  	<td class="table-content" colspan="14"><%= convert_committee(result["ctype"]) %></td>
			  </tr>
			  <tr>
			  	<td class="table-title" colspan="1">FEC ID:</td>
			  	<td class="table-content" colspan="14"><%= result["fec_id"] %></td>
			  </tr>
			  <tr>
			  	<td class="table-title" colspan="1">Affiliation:</td>
			  	<td class="table-content" colspan="14"><%= get_party(result["political_orientation"]) %></td>
			  </tr>
			  <tr>
			  	<td class="table-title" colspan="1">Main Function:</td>
			  	<td class="table-content" colspan="14"><%= result["major_activity"] %></td>
			  </tr>
			  <tr><th class="table-sub-heading" colspan="15">Financial Information</th></tr>
			    <td class="table-title" colspan="1">Cash on Hand:</td>
			    <td class="table-content text-cash" colspan="14">$<%= comma_numbers(result["display_coh"]) %></td>
			  </tr>
			  <tr>
			    <td class="table-title" colspan="1">Cash Accurate as of:</td>
			    <td class="table-content" colspan="14"><%= convert_nil(result["display_coh_date"]) %></td>
			  </tr>
			</table>	
		</div>
		<% end %>
	<% else %>
		<div class="row" id="result-none">
			<p>Oh, no! There were no results. Search <a href="/finance/candidates">again?</a></p>
		</div>
	<% end %> 
</div>